.album-page {
  position: absolute;
  top: 0;
  left: 241px;
  width: calc(100% - 241px);
  height: calc(100% - 90px);
  padding: 0 32px;
  overflow-y: auto;
  overflow-x: hidden;
}

.album-page-header {
  display: flex;
  align-items: flex-end;
  background-color: rgb(192, 80, 16);
  padding: 0 32px;
  margin: 0 -32px;
  padding-bottom: 24px;
  height: 340px;
}

.album-art-div {
  height: 232px;
  width: 232px;
  margin-right: 24px;
  margin-top: 20px;
}

.album-art {
  height: 100%;
  width: 100%;
}

.album-span {
  font-weight: 700;
  font-size: 12px;
}

.album-name-header {
  padding: 0.08em 0px;
  visibility: visible;
  width: 100%;
  font-size: 96px;
  line-height: 96px;
  font-size: 96px;
  font-weight: 900;
  letter-spacing: -.04em;
  line-height: 96px;
  text-transform: none;
}

.album-artist-div {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 4px;
}

.album-artist-art-div {
  height: 24px;
  width: 24px;
}

.album-artist-art {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.album-artist-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
}

.album-artist-div span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
}

.album-details-year::before {
  content: "*";
  margin-right: 4px;
  margin-left: 2px;
  position: relative;
  top: 4px;
}

.album-details-song-amount::before {
  content: "*";
  margin-right: 4px;
  margin-left: 2px;
  position: relative;
  top: 4px;
}

/* Page Controls */

.album-page-buttons-div .fa-ellipsis-h {
  font-size: 30px;
}

.album-like-button i {
  font-size: 27px;
}

.album-like-button {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: var(--white);
}

.album-page-buttons-div {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100vw - 260px);
  padding: 24px 0;
}

.album-page-buttons-div > * {
  margin-right: 32px;
}

.album-song-control-div  {
  height: 56px;
  width: 56px;
  cursor: pointer;
}

/* DROPDOWN STYLING BEGINS */

.album-dropdown-master-container {
  position: relative;
}

.album-dropdown-container {
  position: absolute;
  top: 50px;
  width: 161px;
  background-color: #282828;
  border-radius: 4px;
  padding: 4px;
  max-width: 350px;
  min-width: 196px;
  box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
  max-height: 80vh;
  z-index: 1;
}

.album-page-playlist-selector-container {
  position: absolute;
  left: 186px;
  bottom: -1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  z-index: 5;
  min-width: 185px;
  max-width: 350px;
  max-height: calc(100vh - 24px);
  padding: 4px;
}

/* DROPDOWN STYLING ENDS */

/* Songs Section */

.album-songs-section {
  position: relative;
  width: calc(100vw - 288px);
  height: 100%;
  color: var(--primary-text-color);
  border-collapse: collapse;
  border-spacing: 0 5px;
  letter-spacing: 0.3px;
}
