.login-logo-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(217, 218, 220);
  padding: 25px 0px 15px;
  margin-bottom: 30px;
}

.login-logo {
  width: 250px;
  height: 50px
}

.login-header {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;
  text-transform: none;
  text-align: center;
  margin-bottom: 20px;
}

.login-button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.login-button {
  background: #34D360;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  border-radius: 500px;
  width: 124px;
  height: 48px;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  align-self: center;
}

.login-redirect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-user-message {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 900;
  font-weight: 900;
  margin-bottom: 20px;
}

.redirect-signup-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 2px;
  background-color: transparent;
  border-radius: 500px;
  padding: 13px 31px;
  width: 100%;
  border: 1px solid var(--essential-subdued,#878787);
  color: var(--text-subdued,#6a6a6a);
  text-transform: uppercase;
  cursor: pointer;
}