.album-card {
    display: flex;
    height: 16.5em;
    width: 12em;
    background: #181818;
    border-radius: 4px;
    padding: 16px;
}

.album-card:hover {
    transition-duration: 250ms;
    background-color: #262626;
}

.album-image {
    height: 160px;
    width: 160px; 
    border-radius: 2px;
    margin-bottom: 10%;
}

.album-name {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 0.95em;
}

.album-artist {
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    font-size: 0.83em;
    color: darkgray;
}
