.home-page {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-gap: 3em;
  grid-template-areas:
    "artists" 
    "songs";
  margin-top: 6em;
}

.welcome-message {
  display: flex;
  align-items: center; 
}

.artists-section {
  grid-area: artists;
  margin: 0em 2em;
}

.artists-divs {
  display: flex;
  justify-content: space-around;
}

.popular-artists {

}

.artists-item {
  border: 2px solid black;
  height: 16em;
  width: 13em;
}

.artists-name {
  display: flex;
  justify-content: center;
}

.artists-image {
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.all-artists {
  display: flex;
  justify-content: center;
}

.songs-section {
  grid-area: songs;
  margin: 0em 2em;
}

.song-divs {
  display: flex;
  justify-content: space-around;
}

.popular-songs {

}

.songs-item {
  border: 2px solid black;
  height: 16em;
  width: 13em;
}

.songs-name {
  display: flex;
  justify-content: center;
}

.songs-image {
  /* display: flex;
  justify-content: center;
  margin: 0; */
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.all-songs {
  display: flex;
  justify-content: center;
}

.home-page a:hover {
  color:cornflowerblue;
  transition-duration: 150ms;
}



