/* .library-page {

} */

.library-nav-links:hover {
  transition-duration: 250ms;
  background-color: #262626;
}

.playlists-section {
  grid-area: playlists;
  margin: 0em 2em;
}

.playlists-divs {
  display: flex;
  justify-content: space-around;
}

.playlists-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 16em;
  width: 13em;
  background-color: #242424
}

.playlists-name {
  display: flex;
  justify-content: center;
}

.playlists-image {
  height: 10em;
  width: 10em;
  border-radius: 50%;
}