
.library-nav-links:hover {
    transition-duration: 250ms;
    background-color: #262626;
}

.library-nav-links {
    display: flex;
    justify-content: space-evenly;
}

.album-divs {
    display: flex;
}

.artist-divs {
    display: flex;
}

.playlists-divs {
    display: flex;
    justify-content: space-around;
    /* overflow-x: auto; */
    max-width: fit-content;
    scroll-snap-align: start;
    transform: translate(0.2%, 0%);
}

.playlists-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 16em;
    width: 13em;
    background-color: #242424
}

.playlists-name {
    display: flex;
    justify-content: center;
}

.playlists-image {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}