.top-navigation-bar {
    display: grid;
    position: fixed;
    grid-template-columns: 90% 10%;
    top: 0%;
    left: 229px;
    width: calc(100% - 229px);
    height: 60px;
    z-index: 1;
    grid-area: top-navigation-bar;
}