* {
    box-sizing: border-box;
}

html, body {
    /* display: flex; */
    /* flex-direction: column; */
    /* overflow: hidden; */
    /* overscroll-behavior-y: none; */
    /* position: fixed; */
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Gotham', sans-serif;
    background-color: #121212;
    overflow: hidden;
}

#root {
    height: 100vh;
}

.application {
    display: grid;
    grid-template-areas: "side-navigation main main" "footer footer footer";
    height: 100vh;
    width: 100%;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px auto 90px;
    background-color: #121212;
}

.content {
    grid-area: main;
    position: relative;
    top: 60px;
    left: 229px;
    height: calc(100vh - 150px);
    /* height: fit-content; */
    width: calc(100vw - 229px);
    overflow-y: scroll;
    background-color: #121212;
}

.audio-footer {
    height: 90px;
    width: 100%;
    border-top: 1px solid #282828;
    background-color: #181818;
    position: fixed;
    bottom: 0%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

a {
    color: white;
    text-decoration: none;
}


