body {
  margin: 0;
  margin-left: 14em;
  overflow-x: hidden;
  /* background-color: #414141; */
  /* background-color: #242424; */
  /* background-color: #191414; */
  /* background-color: #121212; */
  /* background: linear-gradient(#121212, #242424) */
}