.playlist-page {
  position: absolute;
  top: 0;
  left: 241px;
  width: calc(100% - 241px);
  height: calc(100% - 90px);
  padding: 0 32px;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlist-page-header {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(#535353, #2A2A2A);
  padding: 0 32px;
  margin: 0 -32px;
  padding-bottom: 24px;
  height: 340px;
}

.art-div {
  height: 232px;
  width: 232px;
  margin-right: 24px;
  margin-top: 20px;
}

.playlist-art, .liked-songs-art {
  height: 100%;
  width: 100%;
}

.playlist-big-span {
  font-size: 12px;
  margin-top: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.playlist-creator-username {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  color: white;
}

.playlist-detail-span {
  color: rgba(255,255,255,.7);
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
}

.playlist-detail-span::before {
  content: "*";
  margin-right: 4px;
  margin-left: 2px;
  position: relative;
  top: 4px;
}

.show-page-controls, .empty-playlist-controls {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100vw - 260px);
  padding: 24px 0;
}

.show-page-controls > *, .empty-playlist-controls > * {
  margin-right: 32px;
}

.show-page-controls i, .empty-playlist-controls i {
  font-size: 30px;
}

h1.playlist-name {
  font-size: 86px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  padding: 9px 0px 9px 0px;
  text-overflow: ellipsis;
  cursor: pointer;
  color: white;
}

table.song-columns {
  position: relative;
  width: calc(100vw - 288px);
  color: var(--primary-text-color);
  padding: 0 50px 0 50px;
  border-collapse: collapse;
  border-spacing: 0 5px;
  letter-spacing: 0.3px;
}

.playlist-dropdown-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #282828;
  height: 76px;
  width: 166px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  z-index: 1000;
}

.playlist-dropdown-options > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  height: 40px;
  width: 100%;
  gap: 8px;
  padding: 8px 12px 8px 12px;
  padding-inline-end: 8px;
}

.playlist-dropdown-options > div > span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.playlist-dropdown-options > div:hover {
  background: #4f4f4f;
}

.playlist-description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-height: 74px;
  overflow: hidden;
  word-break: break-word;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
}