.playlist-page {
    position: absolute;
    top: 0;
    left: 228px;
    width: calc(100% - 228px);
    height: calc(100% - 90px);
    padding: 0 32px;
    overflow-y: auto;
    overflow-x: hidden;
}

.playlist-page-header {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(#535353, #2A2A2A);
    padding: 0 32px;
    margin: 0 -32px;
    padding-bottom: 24px;
    height: 340px;
}

.art-div {
    height: 232px;
    width: 232px;
    margin-right: 24px;
    margin-top: 20px;
}

.playlist-art, .liked-songs-art {
    height: 100%;
    width: 100%;
}

.playlist-big-span {
    font-size: 12px;
    margin-top: 4px;
    font-weight: 700;
    text-transform: uppercase;
}

.playlist-creator-username {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    color: white;
}

.playlist-detail-span {
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}

.playlist-detail-span::before {
    content: "*";
    margin-right: 4px;
    margin-left: 2px;
    position: relative;
    top: 4px;
}

.show-page-controls {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100vw - 260px);
    padding: 24px 0;
}

.show-page-controls > * {
    margin-right: 32px;
}

.show-page-controls i {
    font-size: 30px;
}

h1.playlist-name {
    font-size: 86px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    padding: 9px 0px 9px 0px;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.song-columns {
    position: relative;
    width: calc(100vw - 288px);
    color: var(--primary-text-color);
    padding: 0 50px 0 50px;
    border-collapse: collapse;
    border-spacing: 0 5px;
    letter-spacing: 0.3px;
}